In [3]:
import Quandl
api_key= 'N1P8xRcmucMCx9hgYtU6'

mydata= Quandl.get("FRED/GDP", authtoken= "api_key") #US GDP from FRED
mydata.head()

            VALUE
DATE
1947-01-01  243.1
1947-04-01  246.3
1947-07-01  250.1
1947-10-01  260.3
1948-01-01  266.2

In [8]:
import Quandl
api_key= 'N1P8xRcmucMCx9hgYtU6'
data = Quandl.get('GOOG/NYSE_IBM', collapse='weekly', trim_start='2001-01-01', trim_end='2010-01-01')
data.head()

              Open    High     Low   Close    Volume
Date
2001-01-07   93.94   94.69   91.00   94.00   7973000
2001-01-14   93.69   96.44   92.38   93.81   6439700
2001-01-21  107.50  113.94  107.25  111.25  14727700
2001-01-28  109.62  115.25  109.19  114.19   9079300
2001-02-04  112.75  113.99  109.60  110.27   5355300

In [20]:
#how to compare prices for microsoft to apple
#.4 means only shows column 4, rdiff=percentage differences between data sucessors
data1=Quandl.get(['GOOG/NASDAQ_AAPL.4', 'GOOG/NASDAQ_MSFT.4'],transformation='rdiff',authtoken='api_key')
print(data1.tail())
data1.corr()

            GOOG.NASDAQ_AAPL - Close  GOOG.NASDAQ_MSFT - Close
Date
2016-02-11                 -0.006046                 -0.000402
2016-02-12                  0.003095                  0.016301
2016-02-16                  0.028194                  0.011683
2016-02-17                  0.015315                  0.026032
2016-02-18                 -0.018956                 -0.004388

                          GOOG.NASDAQ_AAPL - Close  GOOG.NASDAQ_MSFT - Close
GOOG.NASDAQ_AAPL - Close                  1.000000                  0.349315
GOOG.NASDAQ_MSFT - Close                  0.349315                  1.000000

In [16]:
data2=Quandl.get("FAO/FAO_231UNITEDSTATESOFAMERICA1375PHOSPHATEFERTILIZERS", authtoken="N1P8xRcmucMCx9hgYtU6")
data2.tail()

            Import Value (1000 US$)  Export Value (1000 US$)
Year
2003-12-31                     7627                      NaN
2005-12-31                     6715                      NaN
2007-12-31                    61554                      NaN
2009-12-31                     9948                     8415
2011-12-31                   115926                    19975

In [2]:
import Quandl
oil=Quandl.get("BP/SPOT_CRUDE_OIL_PRICES", authtoken="N1P8xRcmucMCx9hgYtU6")
oil.tail()

                 Dubai       Brent  Nigerian Forcados  West Texas Intermediate
Date
2010-12-31   78.056154   79.495534          81.054348                79.449442
2011-12-31  106.181538  111.255598         113.649542                95.035936
2012-12-31  109.079038  111.669702         114.212083                94.126614
2013-12-31  105.474231  108.658518         111.945296                97.992271
2014-12-31   97.067250   98.946008         101.349032                93.282640

In [5]:
oilbrent=oil['Brent']
oilbrent

Date
1972-12-31           NaN
1973-12-31           NaN
1974-12-31           NaN
1975-12-31           NaN
1976-12-31     12.800000
1977-12-31     13.920000
1978-12-31     14.020000
1979-12-31     31.610000
1980-12-31     36.830000
1981-12-31     35.930000
1982-12-31     32.970000
1983-12-31     29.550000
1984-12-31     28.780000
1985-12-31     27.560000
1986-12-31     14.430000
1987-12-31     18.435039
1988-12-31     14.923842
1989-12-31     18.226113
1990-12-31     23.725820
1991-12-31     20.003385
1992-12-31     19.320837
1993-12-31     16.971634
1994-12-31     15.817315
1995-12-31     17.016680
1996-12-31     20.668488
1997-12-31     19.092588
1998-12-31     12.715662
1999-12-31     17.970078
2000-12-31     28.495449
2001-12-31     24.443891
2002-12-31     25.023256
2003-12-31     28.830703
2004-12-31     38.265000
2005-12-31     54.521090
2006-12-31     65.144063
2007-12-31     72.389078
2008-12-31     97.255973
2009-12-31     61.671265
2010-12-31     79.495534
2011-12-31    111.255598
2012-12-31    111.669702
2013-12-31    108.658518
2014-12-31     98.946008
Name: Brent, dtype: float64

In [1]:
import Quandl
api_key='N1P8xRcmucMCx9hgYtU6'
aapl= Quandl.get(['GOOG/NASDAQ_AAPL.4'],authtoken='api_key')
msft= Quandl.get(['GOOG/NASDAQ_MSFT.4'],authtoken='api_key')
aapl_rets=aapl.pct_change()
msft_rets=msft.pct_change()
msft_rets

            GOOG.NASDAQ_MSFT - Close
Date
1986-03-13                       NaN
1986-03-14                  0.000000
1986-03-17                  0.000000
1986-03-18                  0.000000
1986-03-19                  0.000000
1986-03-20                  0.000000
1986-03-21                 -0.100000
1986-03-24                  0.000000
1986-03-25                  0.000000
1986-03-26                  0.000000
1986-03-27                  0.111111
1986-03-31                  0.000000
1986-04-01                 -0.100000
1986-04-02                  0.111111
1986-04-03                  0.000000
1986-04-04                  0.000000
1986-04-07                 -0.100000
1986-04-08                  0.111111
1986-04-09                  0.000000
1986-04-10                  0.000000
1986-04-11                  0.000000
1986-04-14                  0.000000
1986-04-15                  0.000000
1986-04-16                  0.000000
1986-04-17                  0.100000
1986-04-18                 -0.090909
1986-04-21                  0.000000
1986-04-22                  0.000000
1986-04-23                  0.000000
1986-04-24                  0.100000
...                              ...
2016-01-13                 -0.021599
2016-01-14                  0.028466
2016-01-15                 -0.039917
2016-01-19                 -0.008433
2016-01-20                  0.004549
2016-01-21                 -0.006104
2016-01-22                  0.035856
2016-01-25                 -0.009562
2016-01-26                  0.007337
2016-01-27                 -0.018210
2016-01-28                  0.016400
2016-01-29                  0.058202
2016-02-01                 -0.006898
2016-02-02                 -0.031256
2016-02-03                 -0.015849
2016-02-04                 -0.003067
2016-02-05                 -0.035385
2016-02-08                 -0.014952
2016-02-09                 -0.002631
2016-02-10                  0.008726
2016-02-11                 -0.000402
2016-02-12                  0.016301
2016-02-16                  0.011683
2016-02-17                  0.026032
2016-02-18                 -0.004388
2016-02-19                 -0.007089
2016-02-22                  0.016017
2016-02-23                 -0.027920
2016-02-24                  0.003517
2016-02-25                  0.014408

[7566 rows x 1 columns]